<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091310325725-j88e604k8qfs59ilrgd3ma67ud7hekm0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091310325725-j88e604k8qfs59ilrgd3ma67ud7hekm0</string>
	<key>API_KEY</key>
	<string>AIzaSyCK26dG4ynMAnEeM5SwdXG2Gbr88riKigw</string>
	<key>GCM_SENDER_ID</key>
	<string>1091310325725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cryptoguys.cryptoCoinsList.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cryptoys-d270a</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptoys-d270a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091310325725:ios:8b14a0442609ee5bd83034</string>
</dict>
</plist>